@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  button,
  a,
  input,
  textarea {
    @apply animate;
  }

  h1 {
    @apply text-xl md:text-2xl xl:text-3xl;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-base md:text-lg;
  }

  p,
  li,
  input,
  textarea {
    @apply text-sm md:text-base;
  }

  small,
  figcaption {
    @apply text-xs md:text-sm;
  }
}

.swiper-scrollbar {
  --swiper-scrollbar-border-radius: 0px;
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-sides-offset: 0%;
  --swiper-scrollbar-bg-color: none;
  --swiper-scrollbar-drag-bg-color: white;
  --swiper-scrollbar-size: 2px;
}

.body-text ul {
  list-style-type: disc;
  margin-left: 1rem;
}
