@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  font-family: "Vollkorn", serif;
}

@layer base {
  button {
    @apply themedText2nd themedBorder2nd themedBg font-semibold border-[1px] flex items-center gap-1.5 hover:translate-x-0.5 hover:-translate-y-0.5 hover:shadow-[-4px_4px_0px_0px_#b53d95] dark:hover:shadow-[-4px_4px_0px_0px_#57e6d9] py-2 px-4 active:scale-95  outline-none rounded-md w-fit;
  }
  h1 {
    @apply md:-ml-[0.2rem] text-5xl md:text-6xl lg:text-7xl font-bold themedText;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-semibold themedText;
  }
  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold themedText;
  }
  h4 {
    @apply text-xl md:text-2xl lg:text-3xl font-medium themedText;
  }
  h5 {
    @apply text-lg md:text-xl lg:text-2xl font-medium themedText;
  }
  p {
    @apply text-base font-normal themedText;
  }
  label {
    @apply themedText2nd text-lg md:text-xl drop-shadow font-medium;
  }
}

@layer components {
  .animate {
    @apply transition-all duration-200;
  }
  .themedBg {
    @apply bg-primary dark:bg-primaryDark animate;
  }
  .themedBg2nd {
    @apply bg-secondary dark:bg-secondaryDark animate;
  }
  .themedText {
    @apply text-primaryDark dark:text-primary animate;
  }
  .themedText2nd {
    @apply text-secondary dark:text-secondaryDark animate;
  }
  .themedBorder {
    @apply border-primary dark:border-primaryDark animate;
  }
  .themedBorder2nd {
    @apply border-secondary dark:border-secondaryDark animate;
  }
  .themedShadowGlowed {
    @apply drop-shadow-[0px_0px_2px_#b53d95] dark:drop-shadow-[0px_0px_2px_#57e6d9];
  }
  .btn {
    @apply themedText2nd themedBorder2nd themedBg font-semibold border-[1px] flex items-center gap-1.5 hover:translate-x-0.5 hover:-translate-y-0.5 hover:shadow-[-4px_4px_0px_0px_#b53d95] dark:hover:shadow-[-4px_4px_0px_0px_#57e6d9] py-2 px-6 active:scale-95  outline-none rounded-md w-fit;
  }
  .btnSpecial {
    @apply themedShadowGlowed flex gap-1.5 items-center font-semibold text-primary dark:text-primaryDark bg-secondary dark:bg-secondaryDark rounded-md pl-3 pr-4 py-1;
  }
  .btnSmaller {
    @apply themedText2nd themedBorder2nd themedBg font-semibold border-[1px] flex items-center gap-1.5 hover:translate-x-0.5 hover:-translate-y-0.5 hover:shadow-[-2px_2px_0px_0px_#b53d95] dark:hover:shadow-[-2px_2px_0px_0px_#57e6d9] py-1 px-4 active:scale-95  outline-none rounded-md w-fit;
  }
  .h1 {
    @apply md:-ml-[0.2rem] text-4xl md:text-5xl lg:text-6xl font-bold themedText;
  }
  .h2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-semibold themedText;
  }
  .h3 {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold themedText;
  }
  .h4 {
    @apply text-xl md:text-2xl lg:text-3xl font-medium themedText;
  }
  .h5 {
    @apply text-lg md:text-xl lg:text-2xl font-medium themedText;
  }
  .p {
    @apply text-base font-normal themedText;
  }
  .pSmaller {
    @apply text-sm font-normal themedText;
  }
  .pSmaller2 {
    @apply text-xs font-normal themedText;
  }
}

.bg-animate {
  background-size: 400% 400%;
  animation: bg-animation 3s infinite ease-in-out;
}
@keyframes bg-animation {
  0% {
    background-position: 0 30%;
  }
  30% {
    background-position: 80% 80%;
  }
  100% {
    background-position: 0% 30%;
  }
}
